body{
    font-family: Arial, sans-serif;
    color:rgb(77, 77, 77);
    font-size: 13px;
}
#header{
    height: 3rem;
    padding: 1.5rem 0rem 0 1.5rem;
}
#footer{
    border: 1px solid rgb(226, 226, 226);
    color:black;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left:0;
    height:1rem;
    background-color: rgb(240, 240, 240);
    width:100%;
    padding: 1rem 0rem 1rem 1rem;
}
a{
    display: inline;
    text-decoration: none;
    color:rgb(83, 83, 83);
    padding-right: 1rem;
}
a:hover{
    text-decoration: underline;
}
#logo{
    text-align: center;
    padding-top: 125px;
}
#space{
    padding: 1rem 1rem 1rem 1rem;
}
#search_bar{
    text-align: center;
}
#search_box{
    background-image: url(/images/google_icon.png);
    background-position-y: center;
    background-position-x: 5px;
    text-indent: 40px;
    background-repeat: no-repeat;
    background-color: white;
    border-style:solid;
    border-width: 1px;
    margin-top: 30px;
    border-radius: 100px;
    height: 40px;
    width: 550px;
    
}
#search_box:hover{
    box-shadow: 0 0 3px rgb(192, 192, 192);
}
#search_buttons{
    text-align: center;
}
#two_buttons{
    color: rgb(99, 98, 98);
    font-size: 14px;
    margin: 1.5rem 0.5rem 1rem 0.5rem;
    border:none;
    background-color: rgb(240, 240, 240);
    height: 2.4rem;
    padding: 0 1rem 0 1rem;
    border-radius: 3px;
}
#two_buttons:hover{
    box-shadow: 1px 1px 1px rgb(192, 192, 192);
    border: 1px solid rgb(184, 183, 183);
}
span{
    float:right;
    padding-right: 1rem;
}
#sign_in{
    position: relative;
    top:-0.5rem;
    border-radius: 2px;
    height:2rem;
    width:4rem;
    border:none;
    color:white;
    font-weight: 700;
    background-color: rgb(71, 131, 241);
}
#sign_in:hover{
    box-shadow: 100px;
}
